addict
future
lmdb
opencv-python
Pillow
pyyaml
requests
scikit-image
scipy
tb-nightly
torch>=1.7
torchvision
tqdm
yapf
pyiqa
aiohttp>=3.12.14 # not directly required, pinned by Snyk to avoid a vulnerability