addict
future
lmdb
opencv-python
Pillow
pyyaml
requests
scikit-image
scipy
tb-nightly
torch>=2.10.0
torchvision
tqdm
yapf
pyiqa
sentencepiece>=0.2.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.46.2 # not directly required, pinned by Snyk to avoid a vulnerability